{% extends "account/base.html" %} {% load i18n %} {% load account socialaccount %} {% load crispy_forms_tags %} {% block head_title %}{% trans "Sign In" %}{% endblock %} {% block content %}

<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
        <!--Grid row-->
        <div class="row wow fadeIn">
            <div class="col-6 offset-3">
                <h1>{% trans "Change Password" %}</h1>
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
        </div>
    </div>
    <!--Grid row-->

    </div>
</main>
{% endblock %}