{% extends "account/base.html" %} {% load i18n %} {% load account socialaccount %} {% load crispy_forms_tags %} {% block head_title %}{% trans "Sign In" %}{% endblock %} {% block content %}

<main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
        <!--Grid row-->
        <div class="row wow fadeIn">
            <div class="col-6 offset-3">
                <h1>{% trans "Password Reset" %}</h1>

                {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %} {% endif %}

                <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
    <!--Grid row-->

    </div>
</main>
{% endblock %}