<nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

    <!-- Navbar brand -->
    <span class="navbar-brand">Categories:</span>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            {% if not catagory %}
            <li class="nav-item ">
                {% endif %}
                <a class="nav-link" href="{% url 'core:product_list' %} ">All</a>
            </li>


            {% for c in categories %} {% if category.slug == c.slug %}
            <li class="nav-item"> {% endif %}
                <a class="nav-link" href="{{ c.get_absolute_url }}">{{c.name}}</a>
            </li>
            {% endfor %}

        </ul>
        <!-- Links -->

        <form class="form-inline" method="get" action="{% url 'core:search' %}">

            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="query" aria-label="Search">
            </div>
            {% csrf_token %}
        </form>

    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->