{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}



<body class="grey lighten-3">

    <!-- Navbar -->

    <!--Main layout-->
    <main class="mt-3 pt-3">
        <div class="container wow fadeIn">

            <!-- Heading -->
            <h2 class="my-5 h2 text-center">Checkout form</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-8 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <form class="card-body" method="post" action="">
                            <!--Grid row-->
                            <div class="row">

                                <!--Grid column-->
                                 <div class="col-md-6 mb-2">

                                    <!--firstName-->
                                    <div class="md-form ">
                                        <!-- <input type="text" id="firstName" class="form-control"> -->
                                        {{form.first_name}}
                                        <label for="firstName" class="">First name</label>
                                    </div>

                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-6 mb-2">

                                    <!--lastName-->
                                    <div class="md-form">
                                        <!-- <input type="text" id="lastName" class="form-control"> -->
                                        {{form.last_name}}
                                        <label for="lastName" class="">Last name</label>
                                    </div>
                                    </div>

                                <!--Grid column-->

                                <!--Grid column-->

                            </div>
                            <!--Grid row-->

                            <!--Username-->


                            <!--email-->
                            <div class="md-form mb-5">
                                <!-- <input type="text" id="email" class="form-control" placeholder="youremail@example.com"> -->
                                {{form.phone_number}}
                                <label for="phone_number" class="">Phone Number</label>
                            </div>

                            <div class="md-form mb-5">
                                {{form.region}}
                                <!-- <input type="text" id="address" class="form-control" placeholder="1234 Main St"> -->
                                <label for="region" class="">Region</label>
                            </div>

                            <!--address-->
                            <div class="md-form mb-5">
                                {{form.address}}
                                <!-- <input type="text" id="address" class="form-control" placeholder="1234 Main St"> -->
                                <label for="address" class="">Address</label>
                            </div>

                            <div class="md-form mb-5">
                                {{form.city}}
                                <!-- <input type="text" id="address" class="form-control" placeholder="1234 Main St"> -->
                                <label for="address" class="">City</label>
                            </div>


                            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button> {% csrf_token %}
                        </form>

                    </div>
                    <!--/.Card-->

                </div>

                

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
    </main>
    <!--Main layout-->

    {% include 'scripts.html' %} {% endblock content %}
</body>