<footer class="page-footer text-center font-small mt-4 wow fadeIn bottom-1">

    <!--Call to action-->


    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
        <a href="" target="_blank">
            <i class="fa fa-facebook-f mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fa fa-twitter mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fa fa-youtube mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fa fa-google-plus mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fa fa-whatsapp mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fa fa-pinterest mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fa fa-github mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fa fa-codepen mr-3"></i>
        </a>
    </div>
    <!-- Social icons -->


</footer>