{% extends 'base.html' %} {% block content %}{% include 'scripts.html' %}

<title>Document</title>

<body>
    <main class="mt-5 pt-4">
        <h2 style="text-align: center;">Instructions</h2>
        <div class=" container dark-grey-text mt-5 ">
            {% for i in ins %}
            <h3 style="text-align: center;">{{i.text | safe}}</h3>
            {% endfor %}
            <p>Click <a href="{% url 'core:order_history' %}" title="">here</a> to check out your invoice.</p>
        </div>
    </main>
</body>

{% endblock %}