{% extends 'base.html' %} {% block content %}{% include 'scripts.html' %} {% load crispy_forms_tags %}

<title>Document</title>

<body>
    <div class="accordion" id="accordionExample">
        <!-- Single collapse -->
        <div id="headingOne">
            <h2>
                <button class="btn btn-link btn-block text-left pl-3" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Instructions
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show pl-3" aria-labelledby="headingOne" data-parent="#accordionExample">
            {% for i in ins %}
            <h3 style="text-align: center;">{{i.text | safe}}</h3>
            {% endfor %}
        </div>
        <!-- Single collapse -->

        <!-- Single collapse -->
        <div id="headingTwo">
            <h2>
                <button style="text-align: center;" class="btn btn-link btn-block text-left pl-3 collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Submit Proof
                </button>
            </h2>
        </div>

        <div id="collapseTwo" class="collapse pl-3" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="jumbotron">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %} {{form|crispy}}
                    <button class="btn btn-black" type="submit">Submit</button>
                </form>
            </div>
        </div>
        <!-- Single collapse -->

</body>

{% endblock %}