{% load cart_template_tags %} {% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="{% url 'core:product_list' %}"><img style="height: 50px;" class="img-responsive2" src="{% static 'images/ss.ico' %}">
            <strong class="blue-text"></strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'core:product_list' %}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'core:search' %}" target="">Search</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'core:profile' %}" target="">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'core:tracker' %}" target="">Tracker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'core:required_product' %}" target="">Required
                        Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'core:Instructions' %}" target="">Instructions</a>
                </li>
                {% endif %}

            </ul>

            <!-- Right -->
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="{% url 'core:order_summary' %}" class="nav-link waves-effect">
                        <span class="badge red z-depth-1 mr-1"> {{request.user|cart_items_count}} </span>
                        <i class="fa fa-shopping-cart"></i>
                        <span class="clearfix d-none d-sm-inline-block"> Cart </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'account_logout' %}">
                        <span class="clearfix d-none d-sm-inline-block"> Logout</span>
                    </a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'account_login' %}">
                        <span class="clearfix d-none d-sm-inline-block"> Login</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
                        <span class="clearfix d-none d-sm-inline-block">Signup</span>
                    </a>
                </li>
            </ul>

            {% endif %}

        </div>

    </div>

</nav>