{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

<div class="mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 col-sm-8">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="{% url 'core:profile' %}" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li>
                    <a href="{% url 'core:order_history' %}" data-target="#profile" data-toggle="tab" class="nav-link active">Order
                        History</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% block table %}
<div class="row justify-content-center">
    <div class="col-lg-5 col-md-6 col-sm-8">
        <h5 class="mb-3">User Profile</h5>
        <div class="col-sm-16 row">
            <div class="col-lg-10 col-md-6 col-sm-8">
                <h5>First name: {{user.first_name}}</h5>
                <h5>Last name: {{user.last_name}}</h5>
                <h5>Username: {{user.username}}</h5>
                <h5>Email: {{user.email}}</h5>
                <form method="post">
                    {% csrf_token %} {{form|crispy}}
                    <input class="btn btn-danger" type="submit">
                </form>
            </div>
        </div>
    </div>
    <!--/row-->


</div>


</div>

{% endblock table %} {% endblock %}