{% extends 'base.html' %} {% block content %}{% include 'scripts.html' %}

<body>
    {% include 'navbar.html' %} {% include 'slider.html' %} {% include 'catagories.html' %} {% if query %}
    <h1>Products with "{{ query }}"</h1><br>
    <h4>
        {% with results.count as total_results %} Found {{ total_results }} result{{ total_results|pluralize }} {% endwith %}
    </h4>
    <div class="row">

        {% for i in results %}
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="{{ i.get_absolute_url }}">{{ i.title }}</a>
                <img class="img-responsive" src="{{i.image.url}}" alt="" style="width:100%">
                <div class="caption">
                    <p>{{i.description}}</p>
                </div>
                </a>
            </div>

        </div>
        {% empty %} {% endfor %} {% else %} {% endif %}
    </div>
    <button style="align-content: center;" class="btn btn-primary"><a href="{% url 'core:search' %}"></a>Search
        again</button>
    </main> {% endblock %}
</body>