{% extends 'base.html' %} {% block content %}{% include 'scripts.html' %}
<div class="container">
    <div class="col my-4">
        <h2>Enter your Order Id and Email address to track your order</h2>
        <form method="post" action="#" id="trackerForm">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Order Id</label>
                    <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Order Id">

                    <button type="submit" class="btn btn-outline-unique">Track Order</button> </div>

            </div>
    </div>
    <div class="col my-4">
        <h3>Your Order Status:
            <h2>{{update}}</h2>
        </h3>

        <h4>{{Info}}</h4>
    </div>
</div>
{% include 'footer.html' %} {% endblock %}